# Python
backend/venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Django
backend/staticfiles/
backend/media/
backend/logs/

# Env
backend/.env
frontend/.env

# Node
frontend/node_modules/

# OS files
.DS_Store

# Logs
*.log

# Screenshots
Screenshot*.png
